name: Build and deploy Node.js app to Azure Web App - Mosquesapidoc

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: npm install and build
        run: |
          # 1. Enter the documentation sub-folder
          cd documentation-site
          # 2. Install dependencies
          npm install
          # 3. Create the production 'dist' folder
          npm run build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          # Only upload the compiled static files
          path: documentation-site/dist
          overwrite: true

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_65087500ECB14549BC8B99F1A9F3C929 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7A3978F7EBE64D61A84938764060A311 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E6DB5B8DFB2B4DFCBEBF43F21519A2CF }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          # Targeting your new clean Web App name
          app-name: 'Mosquesapidoc'
          slot-name: 'Production'
          # Deploy the downloaded contents (the dist files) to the root
          package: .

